header {
  margin-bottom: 30px;
}

h1 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.help-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.help-button:hover {
  background-color: var(--secondary-color);
}
